Biblioteca/Biblioteca.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!ELEMENT Biblioteca (libro*)>
<!ELEMENT libro (autor, titulo, editorial, fPublicacion, ISBN)>	
<!ELEMENT autor (apellido, apellido, nombre)>	
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
<!ELEMENT fPublicacion (#PCDATA)>
<!ELEMENT ISBN (#PCDATA)>