Concesionario/Concesionario.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!ELEMENT Concesionario (Coche+)>
<!ELEMENT Coche (Marca,potencia,plazas,npuertas)>
<!ELEMENT Marca (modelo,matricula)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT plazas (#PCDATA)>
<!ELEMENT npuertas (#PCDATA)>